@import 'vars.scss';
@import 'struc.scss';

*{
    margin: 0;
    padding: 0;
    font-family: "open sans", sans-serif;
    text-align: center;
    transition: 0.25s; 
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}

body{
    padding-top: 56px;
}

.nav{
    position: fixed;
    top: 0px;
    z-index: 10;
    background: white;
}

.left{
    text-align: left;
}

a{
    color: black;
}

.container-fluid{
    
    border-bottom: 1px solid #000;
    &:not(.nav, .footer){
        // padding: 30px 0;
        min-height: 400px;
        @include columnY;
    }
}

.navbar-brand{
    font-weight: 800;
}

img{
    &.icon{
        width: 64px;
        height: 64px;
        margin: 10px 0; 
    }
    &.quote{
        width: 14px;
        height: 14px;
    }
}

.phone{
    color: $shadow;
    & * {
        color: $shadow;
    }
}

button{
    background: $main;
    color: white;
    font-weight: 400;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    a{
        color: white;
    }
}

.reviews{

    .row{
        justify-content: center;
    }

    span{
        display: flex;
        align-items: center;
        h4{
            margin: 0;
            margin-left: 7px; 
        }
    }
}

h2{
    margin-bottom: 48px;
    font-size: 48px;
    font-weight: 700;
}

.main{
    // color: white;
    min-height: 400px;
    background: url(../img/wood.jpg);
    background-position: center;
    background-size: cover;
    @include columnY;
    .block{
        margin-left: 7%;
    }
    .phone{
        margin: 10px 0 20px; 
        display: inline-block;
        font-size: 40px;
    }
}

.about{
    background: url(../img/bg2.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    .block{
        margin: auto; 
        width: 60%; 
    }
}

.reviews{
    min-height: 340px;
    .container{
        display: flex;
        justify-content: space-evenly;
        .row{
            margin: auto; 
        }
        .rev{
            margin-bottom: 10px;
            .inner{
                @include column;
                box-shadow: 3px 3px $shadow;
                padding: 14px 6px;
            } span{
                color: $main;
            }
            p{
                margin: 0; 
            }
        }
    }
}

.blue, .footer{
    background: $main;
    color: white;
}

.services {
    padding: 56px 0;
    .col-xs-3 {
    margin-bottom: 10px;
        .inner{
            padding: 8px;
            box-shadow: 1.2px 1.2px $shadow;
        }
    }

}

.footer{
    background: url(../img/bg1.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px 0 35px;
    a{
        color: white;
    }
}