@import 'vars.scss';
@import 'struc.scss';
@import 'nav.scss';
@import 'kata.scss';



*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    outline: none !important;
    max-width: 100vw;
    transition: 0.25s; 
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

//common

.categories{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .category{
        margin: 0 15px; 
        padding: 35px 140px 22px;
        padding-left: 35px;
        border-radius: 15px;
        // width: 255px;
        // height: 222px;
        background: white;
    }
}

.products{
    .product{
        // width: 335px;
        // height: 470px;
        text-align: left;
        padding: 10px;

        .inner{
            border-radius: 10.5px;
            background: white;
            padding: 24px;

            span span{
                font-weight: 700;
                font-size: 22px;
                margin-right: 8px;
            }
            @include column;
            .body{
                width: 100%; 
            }
        }
        .green{
            img{margin-right: 10px;}
        }
    }
}

.brands{
    .brand{
        padding: 0 20px;
        margin: 10px 0; 
        &.yellow{
            .inner{background: $yellow;}
        }
        .inner{
            padding: 40px 0;
            @include column;
            background: white;
            min-width: 120px;
            min-height: 188px;
            border: 2px solid black;
        }
    }
}

.services{
    .service{ 
        text-align: left;
        padding: 0 8px;
        .body{
            width: 100%; 
        }
       .col-4, .col-8, .col-12{ padding: 0; margin-bottom: 12px !important;}
        .inner{
            padding: 20px;
            background: white;
            border-radius: 10.4px;
        }
        .line{
            justify-content: space-between;
        }
        .green{
            img{margin-right: 10px;}
        }
    }
}

.histories{
    display: flex;
    .hist{
        padding: 20px;
        .inner{
            border-radius: 4px;
            display: flex;
            padding: 10px;
            min-height: 450px;
            color: white;
            background: url(../img/bg-cover.png);
            background-size: cover;
            background-position: center;
            padding: 0 0 18px 24px;
            
            .body{
               margin-top: auto;
               text-align: left;

               small{ color: #8EC2F2; }
               .bottom{
                   text-align: left;
                   & > *{
                    //    display: inline-block;
                       margin-right: 10px;
                   }
               }
            }
        }
    }
}
.row{
    --bs-gutter-x: 0;
}

.blue{ color: $blue !important; }

.l-blue{ color: $l_blue !important; }

.gray{ color: #8C97AC !important; }

.white{ color: white !important; }

small{
    font-weight: 600;
    img{
        width: 13px;
        height: 11px;
    }
}

button{
    border: none;
    font-weight: 700;
    padding: 6px 12px 6px 22px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 15px;

    &.btn-blue{
        color: white;
        background: $blue;
    }
    &.green{
        color: white;
        background: $green;
        border-radius: 5px !important;
    }
    &.light{
        color: $blue;
        background: $bg;
    }
    &.min{
        @include column;
        border-radius: 5px;
        padding: 16px;
    }
}

.square{
    font-weight: 600;
    text-align: left;
    padding: 4px;
    padding-left: 8px;
    display: flex;
    align-items: center;
}

h1{font-weight: 800;}
h2,h3,h4,h5,h6{
    font-weight: 600;
}

.black-arrow{
    background: #FFFFFF;
    border-radius: 24px;
    transform: rotate(-45deg);
    @include column;
    width: 66px;
    height: 66px;
}

.lr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .left, .right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        *{
            margin: 0 5px; 
        }
    }
}

.swipe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
        margin: 0 5px; 
    }
}

span{
    font-weight: 500;
}


p{
    font-size: 13px;
}

.dot{
    background: #C4C4C4;
    width: 8px;
    height: 8px;
    margin: 0 20px; 
    border-radius: 50%;
}

.cnl{
    color: #FF0000;
    text-decoration: line-through;
    font-size: 17px;
}


.star{
    &, img{
        margin: 1.7px !important; 
    }
}

.bg{
    background: $bg;
}
.bg-white{
    background: white;
}
.gray-bg{
    background: $gray_bg;
}

.tag{
    border-radius: 20px;
    border: 2px solid black;
    font-weight: 600;
    padding: 3px 7.4px;
    margin-bottom: 14px !important;
    margin-left: 0 !important;
}


.text{padding-left: 40px;}


.overflow{
    overflow-x: scroll;
    max-width: 1000vw;
    width: 100%; padding: 0 30px; 
    &::-webkit-scrollbar {
        width: 10px; border-radius: 4px;
      }
}



.main{
    width: 100%; 
    padding: 0 30px;
}






//blocks

.container-fluid{
   &:not(footer) {padding: 40px 0;}
    // padding: 40px;
    @include column;

    & > *:not(button):not(.head):not(.overflow){
        width: 100%;
        padding: 0 30px;
        margin: 14px 0;  
    }
    &>*{
        text-align: center;
    }
}

.first{
    background: linear-gradient(180deg, rgba(62, 157, 225, 0.22) 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
    .content{
        padding: 0 50px !important;
    }
    .main{
        img{
            border-radius: 15px;
        }
    }
    .line{
        padding: 0 !important;
        position: relative;
        .black-arrow{
            position: absolute;
            top: 50%;
            transform: translate(0, -50%) rotate(-45deg);

            &.left{left: -33px; img{transform: rotate(45deg);}} &.right{right: -33px; img{transform: rotate(-135deg);}}
        }

        .inner{
            position: absolute;
            left: 5%;
            top: 20%;
            width: 45%; 
        }
    }
}

.third{
    background: #FBFAFA;
}

footer{
    padding-top: 34px;
    margin-top: auto;
    background: $blue;
    color: white;
    a{color: white;text-decoration: none;}
    & > div{
        width: 100%; //MAIN
    }

    input{
        border-radius: 10px;
        border: 1px solid white;
        color: white;
        padding: 16px 57px;
        background: transparent;
        width: 180%; 
        text-align: left !important;
        min-width: 540px;
        
        &::placeholder{color: #F9F9F9;}
    }

    h6{
        margin-bottom: 34px;
    }

    .top{
        .right{
            position: relative;
            img{position: relative;}
            #mail{
                left: 48px;
            }
            #send{
                right: 48px;
            }
        }
    }

    .bottom{
        .right{
            color: #BDBDBD;
        }
    }

    .row{
        text-align: left;
    }
}








//nav


.br{
    padding: 7px 17px;
    padding-right: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #0551B5;
    border-radius: 60px;
    h6{margin-bottom: 0.3rem !important;}

    button{
        padding: 12px 16px;
        img{
            transform: scale(1.5);
        }
        margin-right: 14px;
    }
    p{
        margin: 0; 
        font-weight: 500;
    }
}

.btn-group{
    border-radius: 60px;
    font-weight: 900;
    padding: 4px 0;
    h6{
            margin: 0; 
        }
    .btn{
        border: none;
        display: flex;align-items: center;
       
        img{
            margin-right: 4px;
        }
    }

    .btn:not(:last-child){
        border-right: 2px solid #C4C4C4;;
    }

    .btn:first-child{
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
        padding-left: 24px; 
    }
    .btn:last-child{
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
        padding-right: 24px; 
    }
}

.circle{
    width: 58px;
    height: 58px;
    @include column;
    position: relative;

    &.min{
        color: white;
        background: $green;
        width: 24px;
        height: 24px;
        border: 3px solid white;
        font-size: 10px; font-weight: 600;
        padding: 3px;
        position: absolute;
        top: 0; right: 0; transform: translate(20%, -10%);
    }
}

.input-group{
    border-radius: 4px;
    & > *{
        box-shadow: none !important;
        // border-radius: 0px;
        border: 2px solid #0551B5;
        box-sizing: border-box;
        border-radius: 30px;
    }
    &>*:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &>*:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
    }
}

.form-check-input:checked {
    background-color: #E9F7FE;
    border-color: #E9F7FE;
    box-shadow: none !important;
}

.nav, .navbar{
    padding: 30px 0 !important;
    display: flex; 
    justify-content: space-between;

    .circle{
        margin: 0 6px; 
    }
}

.input-group{
    height: 100%; 
}


