@import 'vars.scss';
@import 'struc.scss';

*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    transition: 0.25s; 
}

.blue{color: $blue;}
.gray{color: $gray;}
.bg-blue{background: $blue; color: white;}
.column{@include column;}

.container-fluid{
    padding: 70px;
}

button{
    background: white;
    border: 1px solid $blue;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 14px;
    color: $blue;
    font-weight: 600;
    font-size: 16px;
    &.button-blue{
        color: white;
        background: $blue;
    }
    &.transparent{
        border-color: white;
        color: white;
        background: transparent;
    }
}

header{
    .container-fluid{
        padding: 0 !important;
    }
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    .display-flex{
        display: flex;
        a{
            &::after{
                vertical-align: 0 !important;
            }
        }
    }
}

h1{
    font-size: 84px;
}

.block1{
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .col-4{
        border-left: 1px solid $blue;
    }
}

.block2{
    .vid{
        width: 500px;
        height: 280px;
    }
}

.block4{
    height: 492px;
    .row{
        height: 100%;
        .col-6{
            position: relative;
        }
    }
}