@import "vars.scss";

a:hover{
    text-decoration: none;
    color: white;
}



 .logo{
    font-family: Pacifico;
    font-size: 30px;
    text-transform: unset !important;
}

.header{
    margin: 10% auto 6%;
 .pseudo{
     width: 90%;
     height: 1.6px;
     background: #e1e1e1;
     margin: 0 auto; 
 } .container-fluid{
     margin-bottom: -1%;
 }
    i:not(.def){
      font-size: 32px;
      color: $blue;
      position: relative;
      top: -27px;//left: 0%;
      background: white;
      padding: 10px;
      border: none;
      border-radius: 50%;
      //transform: translate(0, 0);
  }i.def{
    color: $blue;
    position: relative;
    font-size: 20px;
    top: -18px;
    background: white;
    margin-top: 71%;
    display: inline-block;
  }
  
  p{font-size: 13px;}
    h1,h3{font-size: 24px; text-transform: uppercase;
    margin-top: 2%; 
    span{font-weight: 600;}
    }
}
.pseudo{
    width: 90%;
    height: 1.6px;
    background: #e1e1e1;
    margin: 0 auto; 
    &.only{
        margin: 5% auto; 
    }
}

.line{
    display: flex;
    text-align: center;
    justify-content: center;
.el{
    border: none;
    border-radius: 50%; 
    background: white;
    width: 7px;
    height: 7px;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
     &.el_active{
         background: $blue;
     }
}
   &.icons{
    i{
       color: white;
       background: #2c3b42;
       font-size: 17px;
       padding: 7px;
       border: none;
       border-radius: 50%;
       min-width: 32px;
       min-height: 32px;
       margin-left: 12px;
       transition: 0.3s;
       &:hover{
        background: $blue;
       }
}
   }
}

p{
    font-size: 16px;color: #575757;margin-top: 2%;
}

.w7{
    font-weight: 700;
}


@mixin column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin cd{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin cdself($p:relative, $t:50%, $l:50%){
    position: $p;
    top: $t;
    left: $l;
    transform: translate(-50%, -50%);
}

button:not(.def){
    width: 150px;
    height: 50px;
    border: 2.4px solid transparent;
    border-radius: 4px;
    background: $blue;
    color: white;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px;
    transition: 0.25s;
    &.light{
        background: white;
        color: $blue; 
        border-color: $blue;  
        &:hover{
            background: $blue;
            color: white;
            border-color: $blue;  
         }
    }
    &:hover{
        color: $blue;
        border-color: $blue;
        background: transparent;
    }
}

img.deg180{
    transform: scale(-1);
}

.main{width: 800px;}

a.fa{
    padding: 16px;
    color: white;
    font-size: 18px;
    border: 7px solid white;
    border-radius: 50%;
    background: $blue;
    text-decoration: none;
    position: absolute;
    top: 0;left: 50%;transform: translate(-25%, -50%);z-index: 10;
    &.t30{transform: translate(-10%, -50%);}
}

.left{
    text-align: left;
  h1,h3,p{
      text-align: left;
  }         
}

.substr{
 font-size: 14px;
    span{
        font-weight: bold;
        color: #484848;
    }
}

.blue{color: $blue !important;}

.bottom{
    position: relative;
    bottom: 10px;
}

.current_menu_item{
    a{
        color: white !important;
    }
}







//Media

// xs
@media (max-width: 575.98px) {
    .main{
        width: 400px !important;
    }
}

// sm
@media (min-width: 576px) and (max-width: 767.98px) {
    .main{
        width: 600px !important;
    }
}

// md
@media (min-width: 768px) and (max-width: 991.98px) {
    .main{
        width: 680px !important;
    }
}

// lg
@media (min-width: 992px) and (max-width: 1199.98px) {
    .main{
        width: 800px !important;
    }
}

// xl
@media (min-width: 1200px) {
    .main{
        width: 1000px !important;
    }
} 

















*{
    margin: 0;
    padding: 0; 
    text-align: center;
    transition: 0.25s;
}

.nav{
    min-height: 90px;
    align-items: center;
}

.first{
    background: url(../img/bg1.png);
    background-position: center;
    background-size: cover;
    color: white;
    height: 500px;

    button{margin-top: 2%;}

    .cdself{
        @include cdself(relative, 30%, 50%);
     }
     .line{
        @include cdself(relative, 24%, 50%);
     }
}

.second{

    .m_first{

        p{margin-top: 10%;}

        a.fas{
            position: relative;
            top: 26px;
            border: 8px solid white;
            border-radius: 50%;
            background: $blue;
            padding: 14px;
            z-index: 2;
            font-size: 16px;
            color: white;
            &:hover{
                transform: scale(1.1);
             }
        }

        h1{font-size: 20px;}p{font-size: 14px;}
    }

    .m_second{
        img{
           @include cdself(relative, 50%, 50%);
           margin: 4% auto; 
        }
        
        .img1{
            width: 260px;
            height: 240px;
        }.img2{
            width: 280px;
            height: 160px;
        }
    }

    .m_third{
        img{
            width: 150px;
            height: 150px;
            &:hover{
                filter: brightness(50%);
             }
        }

        h3{font-size: 18px;}
    }

    .m_fourth{
        margin: 4% auto;
        height: 300px;
p{margin-bottom: 3%;}
        .line{
            margin: 6.4% auto 4%; 
            .el{
                background: silver;
                width: 10px;
                height: 10px;
                &.el_active{background: $blue;}
            }
        }
    }
}




.third{



    background: #2c3b42;
    p{
        font-size: 14px;
        color: silver;
    }
  
.col-md-3{
   height: 300px;

   h1, .logo{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
   
    position: absolute;
    top: 0px;
    margin: 10% 0; 
}

i{color: $blue;margin-right: 6px;}a{color: white;}

  display: flex;
  flex-direction: column;
  justify-content: center;

.bottom{
    position: absolute;
    top: 24%;
    margin: 10% 0; 
}

&.col{@include column; position: relative;left: -4%;}
  }

}



footer{
    height: 90px;
    background: #172227;
    align-items: center;
        .icons{
            @include cdself(relative, 50%, 0);
            transform: translate(0, -50%);
        }
}








//Contact

.map{
    background: url('../img/map.png');
    background-size: cover;
    background-position: center;
    height: 240px;
}

.contact-second{

    a{
        background: $blue;
        color: white;
        padding: 20px;
        min-width: 56px;
        min-height: 50px;
        border: none;
        border-radius: 50%;
    }

    p{
        font-size: 12px;
    }
}

.contact-form{
    @include column;
    @include cd;
    width: 520px;
   
.row{
    display: flex;
    // justify-content: center;
}

 input{
     width: 100%; 
 }
    button,textarea{
        width: 100%; 
        margin: 2% auto; 
    }
    textarea{height: 174px;}
    input, textarea{
        border: 1px solid #e2e2e2;
        background-color: #f5f5f5;
        text-align: left;
        color: silver;
        padding: 1.8%;
        border-radius: 4px;
    }
}












//Portfolio

.portfolio{
    width: 1000px; 
}

.portfolio-post{
    border: 1px solid #e1e1e1;
    margin: .2% 0; 
    // border-radius: 4px;
    h1{font-size: 18px;}p{
        font-size: 13px;
        color: silver;
    }h1,p{margin: 5% auto; }
 img{
    width: 100%;
    max-height: 100%;
    border-radius: 0px;
    }
}


.portfolio-left{
   @include column;
   i,p{
       margin: 2% 0; 
   }
}
// .portfolio-right{
//     background: blue;
//     padding: 0;margin: 0; 
// }






























@media (min-width: 575.98px) and (max-width: 991.98px) {
    .m_second{
        .img1, .img2{
            transform: translate(-50%, -50%) scale(0.7) !important;
        }
    }
}

@media (max-width: 575.98px){
    .m_second{
        .img1, .img2{
            left: 0 !important;
            transform: translate(0, -50%) !important;
        }
    }
}

@media (max-width: 576px){

.m_third{
.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    }
 }
}



//Media

// xs
@media (max-width: 575.98px) {
    .portfolio{
        width: 520px !important;
    }
}

// sm
@media (min-width: 576px) and (max-width: 767.98px) {
    .portfolio{
        width: 680px !important;
    }
}

// md
@media (min-width: 768px) and (max-width: 991.98px) {
    .portfolio{
        width: 760px !important;
    }
}

// lg
@media (min-width: 992px) and (max-width: 1199.98px) {
    .portfolio{
        width: 1000px !important;
    }
}

// xl
@media (min-width: 1200px) {
    .portfolio{
        width: 1180px !important;
    }
} 

.current_menu_item, .current_page_item{
    a{
        color: red !important;
    }
}

.mb-4{
    margin-bottom: 100px;
}