@import "vars.scss";

 .logo{
    font-family: Pacifico;
    font-size: 30px;
}

.header{
    margin-bottom: 2%;
 .pseudo{
     width: 90%;
     height: 1.6px;
     background: #e1e1e1;
     margin: 0 auto; 
 } .container-fluid{
     margin-bottom: -3%;
 }
    i{
      font-size: 32px;
      color: $blue;
      position: relative;
      top: -27px;//left: 0%;
      background: white;
      padding: 10px;
      border: none;
      border-radius: 50%;
      //transform: translate(0, 0);
  }p{font-size: 13px;}
    h1,h3{font-size: 24px; text-transform: uppercase;
    margin-top: 2%; 
    span{font-weight: 600;}
    }
}
.pseudo{
    width: 90%;
    height: 1.6px;
    background: #e1e1e1;
    margin: 0 auto; 
}

.line{
    display: flex;
   .el{
       border: none;
       border-radius: 50%; 
       background: white;
       width: 7px;
       height: 7px;
       margin: 0 10px;
       position: relative;
       cursor: pointer;
        &.el_active{
            background: $blue;
        }
   }

   &.icons{
    i{
       color: white;
       background: #2c3b42;
       font-size: 17px;
       padding: 7px;
       border: none;
       border-radius: 50%;
       min-width: 32px;
       min-height: 32px;
       margin-left: 12px;
       transition: 0.3s;
       &:hover{
        background: $blue;
       }
}
   }
}

h1,h3,h4,p{
    margin-bottom: 2%;
}

p{
    font-size: 16px;color: #575757;margin-top: 2%;
}

.w7{
    font-weight: 700;
}

@mixin column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin cd{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin cdself($p:relative, $t:50%, $l:50%){
    position: $p;
    top: $t;
    left: $l;
    transform: translate(-50%, -50%);
}

button:not(.def){
    width: 150px;
    height: 50px;
    border: 2.4px solid transparent;
    border-radius: 4px;
    background: $blue;
    color: white;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px;
    transition: 0.25s;
    &.light{
        background: white;
        color: $blue; 
        border-color: $blue;  
        &:hover{
            background: $blue;
            color: white;
            border-color: $blue;  
         }
    }
    &:hover{
        color: $blue;
        border-color: $blue;
        background: transparent;
    }
}

img.deg180{
    transform: scale(-1);
}

.main{width: 800px;}

a.fa{
    padding: 16px;
    color: white;
    font-size: 18px;
    border: 7px solid white;
    border-radius: 50%;
    background: $blue;
    text-decoration: none;
    position: absolute;
    top: 0;left: 50%;transform: translate(-25%, -50%);z-index: 10;
    &.t30{transform: translate(-10%, -50%);}
}

.left{
    text-align: left;
  h1,h3,p{
      text-align: left;
  }         
}

.substr{
 font-size: 14px;
    span{
        font-weight: bold;
        color: #484848;
    }
}

.blue{color: $blue;}

.bottom{
    position: relative;
    bottom: 10px;
}









//Media

// xs
@media (max-width: 575.98px) {
    .main{
        width: 400px !important;
    }
}

// sm
@media (min-width: 576px) and (max-width: 767.98px) {
    .main{
        width: 600px !important;
    }
}

// md
@media (min-width: 768px) and (max-width: 991.98px) {
    .main{
        width: 680px !important;
    }
}

// lg
@media (min-width: 992px) and (max-width: 1199.98px) {
    .main{
        width: 800px !important;
    }
}

// xl
@media (min-width: 1200px) {
    .main{
        width: 1000px !important;
    }
}