@import 'vars.scss';
@import 'struc.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none !important;
    // overflow-x: hidden;
    font-family: 'Inter';
    max-width: 100vw !important;
    transition: 0.25s; 
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}

li{list-style: none;}

.blue:not(button){
    background: linear-gradient(to bottom, $blue, $d_blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

html{
    height: 100%; 
}

.container-main{
    width: 100%; 
    padding: 0 24px;
    margin-bottom: 20px;
}

body {
    background: silver;
    background: white;
    width: 100vw;
    min-width: 305px;
    // min-height: 812px;
    height: 100%; 
}

button {
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid $blue;
    font-size: 15px;
    color: $blue;
    padding: 16px;
    width: 100%; 
    border-radius: 14px;
        &.blue{
            background: linear-gradient(to bottom, $blue, $d_blue);
            color: white;
        }
        &:hover{
            background: linear-gradient(to bottom, #0083BD, #007AFF);
            border-color: #007AFF;
            color: white;
         }
}
.page {
    position: relative;
    background: #fafaff;
    min-height: 700px;
    width: 100%;
    margin: 0 !important; 
    display: flex;
    flex-direction: column;
    align-items: center;
    @include column;
    &:not(.login, .register){padding-bottom: 90px;}
    
    &.login, &.register{
        .buttons{
            margin-bottom: 80px;
        }
        .circle{
            width: 150px !important;
            height: 150px !important;
            min-height: 150px !important;
            // margin: auto; 
        }
    }
   
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 9%;

    small{
        margin-left: auto !important; 
    }

  label{
        margin-bottom: 1%;
        margin-top: 2.5%;
        font-size: 16px;       
    }

    &.form2{
        label{
            margin-top: 25px;
            color: black;
            font-weight: 600;
            font-size: 16px;
        }
        input{
            border-color: white;
            padding: 25px 10px;
            font-size: 14px;
        }
        button{
            padding: 25px 10px;
            margin: auto; 
            font-size: 18px;
        }
    }

    .double{
        display: flex;
        & > div {
            width: 50%; 
            &.l{
                padding-right: 14px;
            }
            &.r{
                padding-left: 14px;
            }
            input{
                width: 95%; 
            }
        }
    }
    

    span.blue{
        margin: 20px 0 45px;
        display: inline-block;
        border-bottom: 1px solid #007AFF;
        width: auto; 
    }
}

form.error{
    label{
        color: $red;
    }
    input{
        border-color: $red;
        border-width: 2px;
    }
    small.e{
        color: $red;
        font-size: 17px;
        margin-right: auto !important;
    }
}

.df{
    width: 94%; 
    margin: 4% 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3{
        margin-bottom: 0;
        font-size: 20px;
    }
}

input{
    font-size: 15px;
    padding: 16px;
    width: 100%; 
    background: white;
    border: 1px solid $d_blue;
    border-radius: 14px !important;
    color: #828282;
        &::placeholder{ 
            color: #E0E0E0;
        }
}

.buttons{
    @include column;
    width: 94%; 
    margin-bottom: 10px; margin-top: auto; 
}

.buttons, .form{
    width: 80%;
}
.br50{
    border-radius: 50%;
}

span{
    font-size: 12px;
    &.green{
        color: #6FCF97;
    }
    &.yellow{
        color: #F2994A;
    }
    &.red{
        color: #EB5757;
    }
}

.bar{
    background: $l_blue;
    border-radius: 10px;
    height: 8px; 
    width: 80%; 
    .inbar{
        height: 100%; 
        background: rgba(0, 122, 255, 0.3);
        border-radius: 10px;
    }
}

small{
    margin-top: 10px;
    color: #BDBDBD;
}
  
.row{
    max-height: 240px;
    margin: 0; 
    display: flex;
    flex-direction: row !important;
    justify-content: center;

    &.b3{
        overflow-x: scroll !important;
    }
}

.circle{
    // max-width: 280px !important;
    // max-height: 280px;
    width: 44px !important;
    height: 44px !important;
    border-radius: 50%;
    background: $blue;
    margin: 30px auto;
    &.min{
    background: $d_blue;
    width: 10px !important;
    height: 10px !important;
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    }
}

.tabs{
    margin-top: 24px;
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;

        li{
            font-size: 18px;
            font-weight: 600;
            border-bottom: 3px solid transparent;

            &:hover, &.active{
                border-color: #007AFF;
             }
        }
    }
}

.col{
    padding: 0;
    .block{
        margin: 8px 0;
        border-radius: 12px; 
        background: rgb(253, 253, 253);
        padding: 12px 0;
        display: grid;
        grid-template-columns: 1.5fr 6fr 0.5fr;
        & > div:not(.center) {
            @include column;
            .circle {
                @include column;
            }
        }
        h4{
            font-weight: 600;
            font-size: 14px;
        }
        .center{
            display: flex;
            flex-direction: column;
            align-content: start;
            justify-content: center;
            padding-left: 10px;
        }
        .right{
            margin-right: 12px;
        }
    }
}
.tags{
    display: flex;
    align-items: center;
    .tag{
        display: inline-block;
        max-height: 40px;
        // width: auto !important; 
        border: 1.6px solid transparent;
        border-radius: 6px;
        padding: 5px 8px;
        margin: 4px; 
        margin-left: 0px;
        &.red{
        background: #FFEFF1;
        color: #FD5B71;
        }
        &.purple{
        background: #F5EEFC ;
        color: #9B51E0;
        }
        &.green{
        background: #F1FCEE;
        color: #6FCF97;
        }
        &.yellow{
        background: #FFEFD7;;
        color: #FFB800;
        }

        &.empty{
            background: transparent !important;
            &.red{
                border-color: #FD5B71;
                }
                &.purple{
                border-color: #9B51E0;
                }
                &.green{
                border-color: #6FCF97;
                }
                &.yellow{
                border-color: #FFB800;
                }
        }
    }
    
    img{
        width: 34px;
        height: 34px;
        margin-right: 12px;
    }
}

.docs{
    .row{
        margin-right: -15px;
        margin-left: -15px;
    }
    
    .doc {
        position: relative;
        padding: 20px 37px 31px;
        background: white;
        // margin-bottom: 40%;
        border-radius: 10px;
        @include column;
        .df{
            margin-top: -2px;
            margin-bottom: 20px;
        }
        .items{
            height: 380px; 
            overflow: scroll;
            margin-bottom: 60px;
            @include column;
        } 
    }

    .soc{
        position: absolute;
        bottom: 0;
        margin-top: 16px !important;
        width: 100% !important; 
        .col-3{
            @include column;
            padding: 0;
            .inner{
            width: 65px;
            height: 65px;
            border-radius: 10px;
            background: white;
            @include column;
            }
        }
    }

}


.w5{
    font-weight: 500;
    font-size: 14px;
}

// .left{
//     margin-right: auto;
//     width: 94%;
//     margin-bottom: 20px; 
//     margin-left: 12px;
// }

// .page3{
//     justify-content: left !important;
// }

.select{

    position: relative;

    
.point{
    
    padding: 25px 10px;
    font-size: 14px;
    background: white;
    border-radius: 14px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #828282;
        &::placeholder{ 
            color: #E0E0E0;
        }
}
.options{
    position: absolute;
    top: 64px;
    z-index: 11;
    display: none;
    &.visible{
        display: block !important;
    }
    width: 100%;
    background: white;
    border-radius: 0 0 10px 10px;
    padding: 0;
    li{
        position: relative;
        text-align: left !important;
        padding: 4px;
        padding-left: 10px;
        list-style: none;
        margin: 0 !important; 

        &:hover{
            background: #f2f2f2;
         }
        }
    }
}


.photos{
    display: flex;
    .photo{
        margin: 0 8px; 
       &:not(.photo-button){
        img{
            border-radius: 10px;
        }
        
        }
        &.loading{
            opacity: 0.55;
            filter: brightness(80%);
        }
    }
    
    .photo-button{
        width: 57px;
        height: 57px;
        padding: 5px;
        background: white;
        border-color: white;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            margin: 0 2.4px; 
        }
    }
}

.scroll {

.block1{
    @include column;
    .inner{
    font-size: 12px;
    background: white;
    @include column;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    }
}

    height: auto; 
    overflow-x: scroll;
    white-space: nowrap;
    & > .col-3 {
        @include column;
        padding: 0;
        width: 82px; 
        height: 82px; 
        display: inline-block;
        float: none;

        &.block3{
                width: 180px;
                height: 210px;
                border-radius: 10px;
                font-size: 12px;
                background: white;
                & > div{
                   width: 100%;
                   height: 100%;
                   @include column;
                }
            }
      }
  }
    
.pages{

    border-radius: 6px;
    font-weight: 600;
    font-size: 18px;
    min-width: 154px;

    .window{
        @include column;
        background: white;
        width: 150px; 
        // height: 180px; 
        border: 2px solid black;
        border-radius: 6px;
        opacity: 1;
        z-index: 12;
        position: fixed;
        bottom: 110px; right: 20px;
        &.dn{
            display: none !important;
            // opacity: 0;
        }

        i{
            margin-right: 6px;
            &.fa-whatsapp{color: #43d854;}
            &.fa-telegram{color: #0088cc;}
            &.fa-envelope{color: rgb(255, 56, 82);}
        } p,a{margin: 12px 0; color: black;}a:hover{color:#005fc5;text-decoration: none}

        .items{
            text-align: left
        }

    }

    .main-item{
        @include column;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        color: white;
        background: #004DFF;
        font-size: 30px;
        position: fixed;
        bottom: 20px; right: 20px;
        z-index: 12;

        &:hover{
            background: #0036b4;
         }
    }

}





footer{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 90px; 

    background: white;
    border-radius: 30px 30px 0px 0px;
    .row{
        height: 100%; 
        .col-3{
            @include column;
                .circle{
                    position: absolute;
                    margin: auto; 
                    z-index: 10;
                    transform: translate(10px, -10px);
                }
            .inner{
                position: relative;
            }
        }
        img{
            width: 24px;
            height: 24px;
        }
    }
}


@media screen and (max-width: 340px){
    .soc{
        .col-3 .inner, .col-3 .inner img{
            width: 32px !important;
            height: 32px !important;
        }
    }
}