.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.line .el {
  border: none;
  border-radius: 50%;
  background: white;
  width: 7px;
  height: 7px;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
}

.line .el.el_active {
  background: green;
}

.line.icons i {
  color: white;
  background: #2c3b42;
  font-size: 17px;
  padding: 7px;
  border: none;
  border-radius: 50%;
  min-width: 32px;
  min-height: 32px;
  margin-left: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.line.icons i:hover {
  background: green;
}

.w7 {
  font-weight: 700;
}

.left {
  text-align: left;
}

.left h1, .left h3, .left h4, .left h5, .left h6, .left p, .left span {
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

body {
  background: silver;
  background: white;
  width: 100vw;
  min-width: 375px;
  min-height: 812px;
  height: 812px;
}

body > div {
  height: 100%;
  padding: 10% !important;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input {
  padding: 18px 123px 18px 20px;
  background: white;
  border: 1px solid #007AFF;
  border-radius: 14px !important;
  color: #828282;
}

input::-webkit-input-placeholder {
  color: #E0E0E0;
}

input:-ms-input-placeholder {
  color: #E0E0E0;
}

input::-ms-input-placeholder {
  color: #E0E0E0;
}

input::placeholder {
  color: #E0E0E0;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons, .form {
  width: 80%;
}

button {
  margin-bottom: 10px;
  background: white;
  border: 1px solid #12B0F8;
  font-size: 17px;
  color: #12B0F8;
  padding: 18px;
  width: 100%;
  border-radius: 14px;
}

button.blue {
  background: #12B0F8;
  color: white;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 9%;
}

form small {
  margin-top: 10px;
  margin-left: auto !important;
  color: #BDBDBD;
}

form label {
  margin-bottom: 1%;
  margin-top: 2.5%;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#12B0F8), to(#007AFF));
  background: linear-gradient(to bottom, #12B0F8, #007AFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle {
  min-width: 260px;
  min-height: 260px;
  max-width: 110px;
  max-height: 110px;
  border-radius: 50%;
  background: #D0F0FF;
  margin-bottom: 5%;
}
/*# sourceMappingURL=main.css.map */