@import "struc.scss";


*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
   }

 $pink:#d03958;
 $silver:rgba(202, 202, 202, 0.904);
 $black:#161616;
 $bg: #e3d5b8;

@mixin centered($a,$b,$c:0,$d:0){
    top: $a;
    left: $b;
    transform: translate($c, $d);
} .header{
    font-size: 90px;
    font-weight: 700;
    width: auto;
}p{
    font-family: "PT serif";
    font-size: 20px;
    color: black;
 }
.up{
    text-transform: uppercase;} .b{color: $black;}.p{color: $pink;}
.cd-1{
    text-align:center;}.cd-2{display:flex;align-items:center;justify-content: center;}
.button{
    margin: 8% auto 0;
    background: #161616;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 4px;
    padding-left: 10px;
    outline: none;
    transition: 0.3s;
    &:hover{
        background: white;
    color: #161616;
    transform: scale(1.05);
    }
}
.navbar-brand{
    font-family: "Quite Chocolatey";
    font-size: 88px;
    color: $pink;  
    transition: 0.3s;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700
}

.pink{color: $pink;}


.form-data{
    transform: scale(0.8);
    // width: 340px;
    // height: 440px;
    background: $pink;
    color: white;
    border-radius: 4px;
    padding: 6% 4%;
    input{
        outline: none;
        color: black;
        font-family: "Open Sans";
    }.inpt, button{
     border: none;
     border-radius: 4px;
     margin-bottom: 8%;
     width: 100%;
     height: 40px;
     padding: 4px;
     padding-left: 10px;
     outline: none;
 }::placeholder, form span{
    font-family: 'PT serif';
}h3{
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 700;
        } button{
        margin: 8% auto 0;
        background: #161616;
        color: white;
        text-transform: uppercase;
        font-weight: bolder;
        transition: 0.3s;
        &:hover{
            background: white;
        color: #161616;
        transform: scale(1.05);
        }
    }
}






.navbar{
    background: transparent;
     min-height: 130px;
    .navbar-brand{
        font-family: "Quite Chocolatey";
        font-size: 88px;
        color: $pink;  
        transition: 0.3s;
        &:hover{
            transform: scale(1.1);
        }  
    } a:not(.navbar-brand){
        padding: 4.4px;
        margin-left: 14px;
        border: 2px solid transparent;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 600;
        color: black;
        transition: 0.25s;
        &:hover{
            border-color: $pink;
            background-color: $pink;
            color: white;
        }
    }
}
.bg-color.first{
    background: $bg;
    #intro{
        margin-left: 4%;
        margin-top: 7%;
    }   
    
    .col-md-5, .col-md-7{
        @include columnY;
    }

    .container{
        @include columnX;
    }

}
.second{
    background: white;
    h1{
        font-size: 48px;
        display: inline-block;
        margin: 8% 0 4% 6%;
    }
    p{
        font-size: 18px;
    }
 .row{
    .col-md-4{
        padding: 1%;
        padding-top: 6%;
        flex-direction: column;
        &:not(:first-child){
            border-left: 3px solid #555555;
        }
        img,a{
            display: block;
            width: 100px;
            margin: 2% auto 6%;
        }img{filter: invert(100%);}
    }
 }
 margin-bottom: 6%;
}

.third{
    display: inline-block;
    padding: 2% 0; 
    background: $pink;
    p{color: white;}
    font-size: 18px;
    align-items: center;
    .col-md-2{position: relative; right: 6%;}.col-md-6{position: relative; left: 6%;}
 .button{
        background: white;
    color: $black;
    outline: none;
&:hover{
        background: $black;
    color: white;
}
    }

    .row{
        @include columnX;
        margin: 0; 
    }

}

.fourth{
    background: $bg;
    text-align: center;
    min-height: 640px;
    .header{
        font-size: 44px;
        text-align: center;
        margin: 4% 0;
        &.only{
           margin: 8% 0;
        }
    }
    p{
        font-size: 16px;
        margin: 1% 0;
    }
 .button{
 width: 70%;
     &:hover{
     border: 3px solid $black;
     }
 }
 .card{
     min-height: 320px;
 }
}



footer{
    background: $black;
    height: 180px;
    align-items: center;
    p{
        color: white;
        font-family: "PT serif";
        margin: 0 0 0 6%;
    }span{color: $pink; font-family: "PT serif";}
    .navbar-brand{
        font-size: 64px;
        &:hover{
            color: $pink;
        }
    }.col-md-11{
        align-items: center;
    }.footer-left{
        width: auto;
        display: flex;
        align-items: center;
    }
}



.fifth{
    a{
        font-weight: 700;
        color: $pink;
    }

    .col-md-3{
        @include columnY;
        img{
            width: 104px !important;
            height: 104px !important;
        }
    }

    .colY{
        @include columnY;
    }
}














//Media
@media (max-width: 624px) {
    #intro{
        h1{
            font-size: 50px;
            margin-bottom: 5%;
        }p{
            font-size: 15.2px;
            line-height: 24px;
        }
    }
}
@media (min-width: 624px) and (max-width: 992px) {
    #intro{
        h1{
            font-size: 60px;
        }p{
            font-size: 16px;
        }
 }
  .third{
      .button{
         height: 70px;
      }
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
    #intro{
        h1{
            font-size: 72px;
        }p{
            font-size: 18px;
        }
    }
}
@media (min-width: 1024px) {
    #intro{
        h1{
            font-size: 90px;
        }p{
            font-size: 20px;
        }
    }
}
@media (max-width: 992px) {
    #first{
        height: 70vh;
    }
}

@media (max-width: 768px) {
    .second{
        height: 100vh;
          min-height: 840px;
      }
      .third{
p{margin-top: 50px;margin-bottom: -20px;}.button{margin-bottom: 50px;}
    }
}

@media (max-width: 767.98px) {
    .fourth{
        .col-md-4{
            margin: 2% 0; 
        }
    }
}