@import 'vars.scss';
@import '../../../../struc.scss';

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    text-align: center;
    transition: 0.25s; 
}

.navbar-brand, .logo{
    img{
        transform: scale(0.7);
        &:hover{
            transform: scale(0.8);
         }
    }
}
body{
    background: $yellow;
}
h1{font-size: 54px;font-weight: 900;color: black;}p{font-size: 16px;font-weight: 700;}
h1,h3,h4,h5,h6{text-transform: uppercase;font-weight: 900;}h4{font-weight: 700;}
button{

    span{
        display: inline-block;
        transform: skewX(-20deg);;
    }

    background: black;
    color: white;
    font-size: 17px;
    font-weight: 900;
    border-radius: 8px;
    padding: 6px 18px;
    border: none;
    text-transform: uppercase;
    transform: skewX(20deg);

    &.yellow{
    background: $yellow;
    color: black;
    }

    &:hover{
        transform: skewX(20deg) scale(1.1);
     }
}
.y{color: $yellow;}

// .inner{
//     border: 2px solid red;
//     border-radius: 4px;
// }

.container.main{
    margin: 4% 0; 
}
.col-xs, .col-md-6{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    display: inline-block !important;
    margin: 10% auto 4% !important;
    p{
        margin-top: 2%;
    }
}

// .row{
//     position: relative;
//     left: 50%;
//     transform: translate(-50%, 0);
// }

input, textarea{
    border: none;
    outline: none;
    border-radius: 20px;
    background: black;
    color: white;
    text-align: left;
    padding: 8px;
}











.container-fluid.nav{
    background: black;
    li{
        display: flex;
        align-items: center;
    }
    a{
        color: white !important;
        font-weight: 700;
        margin-right: 26px;
        &:hover{
            color: $yellow !important;
         }
    }
}

.first{
    color: black;
    img{
        width: 380px;
        height: 380px;
    }
    h1{
        text-transform: uppercase;
        font-weight: 900;
        font-size: 88px;
        line-height: 74px;
        margin-bottom: 4%;
    }
    p{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 4%;    
    }

 .line{

    margin: 10% 0; 

    .el{
        background: black;
        padding: 6.6px;
        border: 3px solid black;
        &.active{
            background: white;
        }
        &:hover{
            transform: scale(1.2);
         }
    }
   }

   &::before{
    background: url("../img/map.png");
    background-size: cover;
    background-position: center;
    content: "";
    z-index: -1;
position: absolute;
top: 60%; left: 50%;
transform: translate(-50%, -50%);
width: 80%; height: 80%;
}
}


.second{
    background: linear-gradient(to bottom, $black, $black, $black, #4d4d4d);
   h1,p,h3{ color: white;}
    .inner{
        padding: 4%;
        h3{font-size: 28px;}p{font-size: 16px;}h3,p{margin-top: 8%;}
        img{
            border: 8px solid white;
            border-radius: 50%;
            width: 220px;
            height: 220px;
            margin-bottom: 4%;

            &:hover{
                transform: scale(1.1);
             }
        }
    }

    padding-bottom: 10%;
}



.third{
    .col-sm-4{
        padding: 0 !important;
        width: 200px;
        height: 220px;
    img{
        width: 100%;
        height: 100%;
        &:hover{
            filter: brightness(50%);
         }
    }
  } 

  button{
      margin-top: 4%;
  }

  padding-bottom: 10%;
}

.fourth{
    padding: 6% 0;
    background: black;
    img{
        width: 80%; 
    }
}

.fifth{
    h1,p,h4{color: white;}
    background: #242424;
    .inner{
        background: black;
        padding: 8%;
        span{
            color: $yellow;
            margin: 0 1%; 
        }
    }

    button{
        margin: 6% 0 0; 
    }

    padding-bottom: 8%;
}

.sixth{

    form{
        @include column;
    input{
        width: 40%; 
    }
    input, textarea, button{
        margin: 4%; 
    }
  }

  padding-bottom: 6%;
}

.seventh{

    background: black;

    .col-md-3{
        
        @include column;
        justify-content: center;

        .hov{
            p{
                border-bottom: 2px solid transparent;
            padding-bottom: 4px;
            }
            p:hover{
                border-color: white;
            }
        }

    //     .inner{
    //     height: 100%; 
    // }

    h6, p{
        color: white;
    }span{
        color: $yellow;
        margin: 0 5px; 
        cursor: pointer;
        &:hover{
            transform: scale(1.2);
         }
    }
  }
}



footer{
    margin: 0;padding: 0; 
    margin-top: -2%;
    height: 90px;
    line-height: 90px;
    @include column;
    h3{
        font-size: 12px;
    } 
}





// Media

// // xs
// @media (max-width: 575.98px) {
    
// }

// sm
@media (min-width: 576px) and (max-width: 767.98px) {
    .container-fluid:not(.nav){
        @include columnX;
      }

      .fifth{
          .col-lg-4{
              margin: 4% 0; 
          }
      }

      .seventh{
         div{
             float: left;
            text-align: left !important;
            }
      }

}

// md
@media (min-width: 768px) and (max-width: 991.98px) {

  .container-fluid:not(.nav){
    @include columnX;
  }

  .first{
      .main{
          min-width: 880px !important;
          transform: scale(0.8);
      }
  }

  .fifth{
    .col-lg-4{
        margin: 4% 0; 
    }
}
  
}

// // lg
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container-fluid:not(.nav){
        @include columnX;
      }
}

// // xl
// @media (min-width: 1200px) {
    
// } 
